---
const personalImageAlt = "Erick José Cruz Sánchez";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#2c7d8e] dark:[&>p>strong]:text-[#C6DE41] [&>p>strong]:font-medium text-pretty order-2 md:order-1"
  >
    <p>
      My name is <strong>Erick J. Cruz Sánchez</strong>,born in the Dominican Republic. I started programming
      at the age of 19, and to this day, I continue passionately developing as a Frontend Developer, assisting
      clients in achieving their goals and objectives.
    </p>
    <p>
      I have collaborated on projects of small, medium, and large scale, including one of my successes,
      GamerClubVIP, where I serve as the Lead Frontend, managing to have more than 3,000 visitors on our
      platform and articles.
    </p>

    <p>
      As a frontend developer, I enjoy innovating and applying best practices for optimal performance in
      applications. I love challenges, learning from them, and sharing my knowledge with the community and/or
      work team.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/erickcruz.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
