---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Diciembre 2020 - Actualmente",
    title: "Fronted Developer",
    company: "Freelance",
    description:
      "Responsable del desarrollo de la intefaz de usuario de las aplicaciones web, experiencia y atencion al cliente. Usando tecnologías como: HTML, CSS, SCSS, JS, React, Preact, Next.js, TailwindCSS, AstroJs, NodeJs, WordPress y Elementor.",
  },
  {
    date: "Septiembre 2019 - Actualmente",
    title: "Web Developer",
    company: "Caribe Media",
    description:
      "Encargado del diseño y el desarrollo de plataforma Web, mejorando el SEO y la optimización de carga, implementando las buenas prácticas para lograr el mayor rendimiento. Usando tecnologías como: HTML, CSS, SCSS, JS, Bootstrap, WordPress y Elementor.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
