---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "December 2020 - Currently",
    title: "Fronted Developer",
    company: "Freelance",
    description:
      " Responsible for the development of the user interface for web applications, with a focus on user experience and customer interaction. Proficient in technologies such as HTML, CSS, SCSS, JS, React, Preact, Next.js, TailwindCSS, AstroJs, NodeJs, WordPress, and Elementor.",
  },
  {
    date: "September 2019 - Currently",
    title: "Web Developer",
    company: "Caribe Media",
    description:
      "In charge of designing and developing web platforms, enhancing SEO and optimizing loading times, implementing best practices for achieving optimal performance. Proficient in technologies such as HTML, CSS, SCSS, JS, Bootstrap, WordPress, and Elementor.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
