---
const personalImageAlt = "Erick Cruz";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="flex gap-4 items-center">
  <div class="w-[700px]">
    <img class="rounded-full shadow-lg size-64" src="/erickcruz.webp" alt={personalImageAlt} />
  </div>
  <div class="w-auto">
    <a
      href="https://www.linkedin.com/in/erickcs/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:hover:scale-105 mb-3"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
    <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
      Hola, soy Erick Cruz
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-[#C6DE41] [&>strong]:text-[#C6DE41] [&>strong]:font-semibold dark:text-gray-300"
    >
      +4 años de experiencia. <strong>Frontend Developer</strong> de Santo Domingo, Rep. Dom. 🇩🇴. Especializado
      en el Desarrollo Web y en Experiencias únicas.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:erickj.cruzs@gmail.com">
        <MailIcon class="size-4" />
        Contáctame
      </SocialPill>
      <SocialPill href="https://www.linkedin.com/in/erickcs/">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
</div>
