---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-sm bg-[#153B44] rounded-full transition duration-700 ease-in-out hover:bg-gradient-to-bl from-[#153b44] via-[#215460] to-[#2D6E7E]"
>
  <slot />
</a>
