<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-sm bg-[#215460] rounded-full transition duration-700 ease-in-out hover:bg-gradient-to-bl from-[#153b44] via-[#215460] to-[#2D6E7E]"
>
  <slot />
</a>
